.card {
    width: 18rem;
    height: 30rem;
    margin: 5px;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add shadows to create the "card" effect */
    transition: 0.3s;
    border-radius: 5px; /* Add rounded corners to the top left and the top right corner of the image, 5px rounded corners */
  }
  
  .card-img-top {
    height: 16rem;
  }
  
  .card-text {
    word-wrap: break-word;
  }
  
  .scrollable{
    overflow-y: auto;
    max-height: 6.42rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.42);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  /* 3 below selectors make album images zoom in when cursor hover */
  .inner {
    overflow: hidden; /*this will hide overflow, so image doesnt show outside of the card as it grows */
  }
  
  .inner img{
    transition: all 1.42s ease;
  }
  
  .inner:hover img {
    transform: scale(1.11);
  }