* {
    color: #0069D9;
    text-align: center;
}

.container {
    border: 10px solid #0069D9;
    padding-top: .7%;
    padding-bottom: .25%;
    padding-left: .425%;
    padding-right: .75%;
}

h1 {
    font-weight: bold;
    text-decoration-line: underline;
}

.album-track-title {
    font-weight: 645;
}

.album-title {
    text-decoration-line: underline;
}