<br>
<h1 style="font-weight: bold; text-decoration-line: underline;">{{artist.name}}</h1>
<span *ngFor="let album of artist.album">
    <span *ngFor="let track of album.trackList">
        <span *ngIf="trackId == track.trackId">
            <h3><em>"{{ track.trackTitle }}"</em></h3>
            <h4><span style="text-decoration-line: underline;">Album</span>: <em>{{album.title}}</em></h4>
        </span>
    </span>
</span>
<br>
<div class= "container">
    <youtube-player
        videoId="{{ trackUrl }}"
        suggestedQuality="highres"
        [height]="630"
        [width]="1107.5"
        style="margin: 0% 0% 0% 0%">
    </youtube-player>
</div>
