<br>
<h1>{{ artist.name }}</h1>
<h2><img class="curated_track_electronica_icon" src="assets/img/electronica.png" alt="Electronica">Electronica's Curated Track of Choice: <em>"{{ artist.curatedTrackTitle }}"</em><img class="curated_track_electronica_icon" src="assets/img/electronica.png" alt="Electronica"></h2>
<br>
<div class= "container">
    <youtube-player
        videoId="{{ trackUrl }}"
        suggestedQuality="highres"
        [height]="630"
        [width]="1107.5"
        style="margin: 0% 0% 0% 0%">
    </youtube-player>
</div>
