* {
    color: #0069D9;
    text-align: center;
}

.curated_track_electronica_icon {
    width: 50px;
    height:50px;
}

.container {
    border: 10px solid #0069D9;
    padding-top: .5%;
    padding-bottom: .25%;
    padding-left: .35%;
    padding-right: .75%;
}

h1 {
    font-weight: bold;
    text-decoration-line: underline;
}

em {
    font-weight: 645;
}