.e_blue_text{
    color:#0069D9;
}

.artist_name_title {
    text-decoration-line: underline;
}

.facebook_badge {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.facebook_badge:hover {
    transform: scale(1.11);
}

.instagram_badge {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.instagram_badge:hover {
    transform: scale(1.11);
}

.twitter_badge {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.twitter_badge:hover {
    transform: scale(1.11);
}

.youtube_badge {
    width: 37.5px;
    height: 37.5px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.youtube_badge:hover {
    transform: scale(1.11);
}

.spotify_badge {
    width: 38px;
    height: 38px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.spotify_badge:hover {
    transform: scale(1.11);
}

.applemusic_badge {
    width: 40px;
    height: 40px;
    margin-right: 1px;
    transition: all 1.5s ease;
}

.applemusic_badge:hover {
    transform: scale(1.11);
}

.soundcloud_badge {
    width: 45px;
    height: 45px;
    margin-right: 5px;
    transition: all 1.5s ease;
}

.soundcloud_badge:hover {
    transform: scale(1.11);
}

.artist_website_link {
    margin-top: 10px;
    color:#0069D9;
}

.artist_personal_info {
    font-weight: 575;
    text-decoration-line: underline;
}

.curated_track_title {
    font-size: 18px;
    margin-top: 15px;
    font-weight: 650;
}

.curated_track_electronica_icon {
    width: 45px;
    height:45px;
}

.curated_track_youtube_icon {
    width: 100px;
    height: 20px;
    margin-left: 5px;
    margin-top: -4px;
    transition: all 1.5s ease;    
}

.curated_track_youtube_icon:hover {
    transform: scale(1.0725);
}


.album_title {
    text-decoration-line: underline;
}

.album_spotify_icon{
    width: 110px;
    height: 33px;
    margin-left: 5px;
    transition: all 1.5s ease;
}

.album_spotify_icon:hover {
    transform: scale(1.075);
}


.album_applemusic_icon{
    width: 100px;
    height: 25px;
    margin-left: 10px;
    transition: all 1.5s ease;
}

.album_applemusic_icon:hover {
    transform: scale(1.075);
}


.album_table_row{
    border: 2px solid #0069D9;
}

.album_track_text{
    font-weight: 500;
}

.album_track_youtube_icon{
    width: 47.5px;
    height:27.5px;
    transition: all 1.5s ease;
}

.album_track_youtube_icon:hover {
    transform: scale(1.18);
}
