<div class="container">
    <div class="row my-3">
    <img *ngIf="artist" class="float-right img-fluid img-thumbnail"style="max-width: 30%" src="assets/img/{{ artist.id }}.jpg" alt="{{ artist?.name }}" />

    <ul style="list-style: none;">
      <li>
        <h2>{{ artist?.name }}</h2>
      </li>
      <li>Hometown: <em>{{ artist?.hometown }}</em></li>
      <li>Genre: <em>{{ artist?.genre }}</em></li>
      <li><a href="{{ artist?.url }}">Website</a></li>
      <br>
      <li style="font-size: 18px;">Electronica's Curated Track of Choice:  <a href="{{ artist?.curatedTrackUrl }} ">{{ artist?.curatedTrack }}</a>  <a href="{{ artist?.curatedTrackUrl }}"><img style="width: 100px; height: 20px; margin-left: 5px; margin-top: -1px;" src="assets/img/youtube_logo.png"></a></li>
    </ul>
  </div>
  <div class="row" *ngFor="let album of artist.album">
    <h4>Best Album: <em>{{ album?.title }}</em> ({{ album?.releaseYear }}) - {{ album?.trackCount }} Tracks</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Track #</th>
          <th scope="col">Title</th>
          <th scope="col">Length</th>
        </tr>
      </thead>
      <tbody *ngFor="let album of artist.album">
        <tr *ngFor="let tracks of album.tracks">
          <th scope="row">{{ tracks.trackNumber }}</th>
          <td><em>{{ tracks.trackTitle }}</em></td>
          <td>{{ tracks.trackLength }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
