.facebook_badge {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.instagram_badge {
    width: 42px;
    height: 42px;
    margin-right: 5px;
}

.twitter_badge {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.youtube_badge {
    width: 37.5px;
    height: 37.5px;
    margin-right: 5px;
}

.spotify_badge {
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.applemusic_badge {
    width: 40px;
    height: 40px;
    margin-right: 1px;
}

.soundcloud_badge {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}



